body {
	font-family: "OpenSans";
	font-weight: 400;
	font-size: 14px;
	line-height: 24 / 14 * 100%;
	color: $white-color;
}

.container {
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	position: relative;
	margin-bottom: 10px;
	text-align: center;
	font-family: "Banny";
	font-weight: 700;
	font-size: 36px;
	line-height: 48 / 36 * 100%;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 30px;

	&--black {
		color: $black-color;
	}

	&:after {
		content: "";
		position: absolute;
		width: 60px;
		height: 5px;
		bottom: 0;
		left: 50%;
		right: 50%;
		transform: translateX(-50%);
		background-color: $accent-color;
		border-radius: 50px;
	}
}

.img-inner {
	position: relative;
	padding-right: 85px;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		bottom: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 250px;
		height: 250px;
		border: 20px solid $accent-color;
		filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
	}

	&--padding-left {
		padding-left: 120px;

		&:after {
			left: 0;
		}
	}
}

.img {
	width: 475px;
	height: 475px;
	object-fit: cover;
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
}

.input {
	border: none;
	background-color: #e5e5e5;
	width: 280px;
	max-width: 100%;
	height: 60px;
	border-radius: 5px;

	&::placeholder {
		padding-left: 20px;
		font-size: 14px;
		line-height: 19 / 14 * 100%;
		color: rgba(51, 51, 51, 0.5);
	}
}

.btn {
	font-size: 12px;
	line-height: 20 / 12 * 100%;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $accent-color;
	height: 60px;
	transition: background-color 0.5s, border-color 0.5s;

	&:hover {
		background-color: transparent;
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
