.content {
	padding: 120px 0;
	max-width: 600px;
	text-align: center;

	&--padding {
		padding: 60px 0 0;
	}

	&__subtitle {
		display: block;
		font-weight: 700;
		font-size: 18px;
		line-height: 28 / 18 * 100%;
		margin-bottom: 10px;
	}
}
